## Connect to database

In [2]:
%matplotlib widget
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import psycopg2
from scipy.signal import find_peaks

db = psycopg2.connect(dbname=os.environ['DB_NAME'],
                      user=os.environ['DB_USER'],
                      password=os.environ['DB_PASSWORD'],
                      host=os.environ['DB_URL'],
                      port=5432)

## Top names by year

In [45]:
# query params
country = 'us'
sex = 'm'
min_year = 1925
max_year = 1940
sort_by_year=1932
dmeta = '.*j|l|m|n.*'

query = f'''
select
  y.year,
  n.name,
  sum(br.births) as number_births,
  sum(br.births) / (y.births_{country.lower()}_{sex.lower()}::float / 1000) as births_per_k
from public.birth_record br
inner join public.name n on n.id = br.name_id
inner join public.year y on y.year = br.year_id
where
  br.sex = '{sex.upper()}' and
  y.year between {int(min_year)} and {int(max_year) if max_year else 2019} and
  br.country = '{country.lower()}' and
  n.dmeta ~* '{dmeta}'
group by 1, 2
having sum(br.births) > 500
;'''

df = pd.read_sql_query(query, db)
df = df.round({'births_per_k': 2})
df = df.pivot(index='name', columns='year', values='births_per_k')
df = df.sort_values(by=[sort_by_year], ascending=False)

df.head(50)

year,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
name,,,,,,,,,,,,,,,,
James,45.75,46.45,46.19,46.23,47.06,47.75,47.88,48.33,50.09,51.09,51.43,51.38,51.71,52.00,52.62,52.67
John,49.68,48.98,48.16,47.10,47.05,46.42,45.27,45.25,45.31,44.01,44.41,44.79,44.57,44.45,45.02,46.18
William,46.29,45.33,44.31,43.04,43.16,41.84,40.46,39.20,38.28,37.83,37.59,37.01,37.23,37.33,37.13,37.74
Charles,25.69,25.77,27.49,27.38,27.02,28.22,27.97,28.94,28.42,28.06,28.03,27.33,27.91,27.40,27.17,26.71
Donald,16.67,18.26,20.52,22.52,24.54,25.72,27.21,27.72,27.88,28.64,27.73,26.91,25.48,23.46,21.23,19.48
George,23.07,22.61,22.33,21.38,20.78,20.17,19.34,19.02,18.00,17.42,17.35,17.10,16.85,16.22,15.78,15.44
Joseph,21.38,20.74,20.23,19.55,19.11,18.57,18.07,17.28,16.82,16.11,16.07,16.40,15.84,15.61,15.63,15.35
Thomas,14.49,14.49,14.65,14.53,14.70,15.06,15.75,15.67,16.17,16.36,16.53,17.23,18.08,18.81,19.53,20.22
Paul,12.31,11.92,11.71,11.53,11.22,11.47,11.45,11.23,11.62,11.49,11.74,11.56,11.78,11.75,11.77,11.89
Kenneth,8.81,9.03,9.34,9.79,9.79,10.36,10.81,10.93,11.18,11.11,11.28,11.73,12.08,12.67,12.98,12.76
Frank,13.31,12.65,12.37,11.89,11.70,11.10,10.72,10.70,10.74,10.02,9.74,9.57,9.26,9.03,8.81,8.93
Ronald,1.46,2.00,2.68,3.48,4.04,4.99,6.29,10.37,11.82,13.26,14.48,15.90,16.58,17.86,17.50,17.48
Jack,10.43,10.65,11.01,10.95,10.99,11.00,10.73,9.98,9.64,9.40,8.82,8.32,7.49,7.16,6.45,5.94
Harold,11.81,11.62,11.39,11.11,10.54,10.32,10.00,9.70,9.36,9.35,8.57,8.11,7.82,7.53,7.32,6.81
Raymond,10.81,11.18,11.02,10.47,10.75,10.37,10.15,9.63,9.32,9.03,8.94,8.88,8.75,8.56,8.16,8.07
Billy,3.65,4.52,5.56,6.41,7.51,8.22,8.66,8.78,8.76,9.00,8.64,8.07,7.59,7.26,6.59,6.40
Walter,10.54,10.28,9.76,9.33,8.89,8.61,8.36,8.06,7.61,7.62,7.31,7.08,6.84,6.65,6.46,6.51
Eugene,7.40,7.87,8.39,8.51,8.17,8.00,7.62,7.49,7.21,6.73,6.41,5.99,5.48,5.38,5.18,4.89
Henry,9.22,8.73,8.49,8.16,7.74,7.61,7.29,6.95,6.59,6.34,6.41,6.06,6.10,5.77,5.79,5.75
Gerald,3.91,4.47,4.74,4.81,5.39,5.74,6.38,6.84,7.28,7.36,7.91,8.47,8.62,8.77,8.87,8.63
Albert,8.26,7.98,7.86,7.72,7.29,7.03,6.67,6.39,5.97,5.65,5.70,5.41,5.18,5.10,4.83,4.70
Ralph,7.35,7.38,7.26,7.10,6.96,6.76,6.50,6.26,6.06,5.91,5.70,5.66,5.41,5.30,5.26,4.92
Carl,6.13,6.06,6.27,6.08,6.22,6.15,6.15,6.25,6.07,6.29,6.26,6.19,6.32,6.02,5.82,5.69
Joe,5.30,5.53,5.63,5.86,5.95,6.09,6.02,6.23,6.28,6.67,7.06,7.54,7.08,6.54,6.34,6.09
Willie,6.19,5.95,6.00,5.98,5.97,5.90,5.57,6.09,5.86,5.98,5.92,5.65,5.70,5.35,5.56,5.20
Jerry,1.41,1.69,1.91,2.27,2.70,3.45,4.08,4.94,5.95,6.71,7.90,8.71,9.42,10.71,12.11,12.82
Lawrence,4.89,4.87,4.79,4.90,4.79,4.99,5.02,4.93,4.81,5.01,5.00,5.02,5.03,5.17,5.19,5.20
Norman,4.32,4.62,4.72,4.90,4.66,4.69,5.07,4.90,4.86,4.70,4.71,4.36,4.27,4.36,4.18,3.86
Louis,5.90,5.68,5.74,5.52,5.41,5.14,5.07,4.78,4.60,4.41,4.32,4.15,3.98,3.86,3.73,3.65
Clarence,5.79,5.71,5.56,5.32,5.17,4.87,4.73,4.55,4.20,3.97,3.81,3.54,3.44,3.20,3.07,2.94
Earl,5.59,5.63,5.51,5.23,5.18,4.93,4.72,4.49,4.29,4.36,3.95,3.86,3.61,3.53,3.44,3.33
Daniel,3.95,3.94,3.97,3.89,3.94,3.95,4.07,4.14,4.23,4.24,4.29,4.52,4.68,4.91,5.11,5.24
Francis,5.19,5.05,4.86,4.83,4.76,4.42,4.43,4.08,4.01,3.77,3.64,3.64,3.41,3.48,3.28,3.04
Anthony,4.38,4.42,4.23,4.13,4.27,4.14,4.02,3.93,3.90,3.62,3.65,3.74,3.96,4.13,4.07,4.02
Marvin,3.55,3.59,3.78,3.90,3.96,3.90,4.07,3.90,4.05,3.97,3.99,3.70,3.58,3.43,3.32,2.95
Ernest,4.77,4.75,4.48,4.33,4.29,4.24,4.02,3.88,3.60,3.63,3.46,3.49,3.44,3.26,3.25,3.12
Leonard,4.75,4.72,4.57,4.50,4.36,4.13,4.00,3.82,3.88,3.61,3.56,3.49,3.18,3.23,3.28,3.22
Alfred,4.16,4.13,4.09,5.47,4.45,4.03,3.69,3.63,3.20,2.98,2.92,3.06,2.91,2.65,2.64,2.58
Melvin,3.60,3.66,3.62,3.72,3.70,3.58,3.46,3.51,3.52,3.49,3.36,3.50,3.56,3.36,3.40,3.32
Stanley,4.37,4.33,4.22,3.92,3.85,3.88,3.93,3.50,3.37,3.36,3.46,3.28,3.19,3.12,3.15,3.11
Leroy,3.37,3.32,3.37,3.39,3.45,3.37,3.41,3.42,3.29,3.56,3.66,3.42,3.25,3.07,2.99,2.79
Michael,3.27,3.04,3.10,3.15,3.13,3.14,3.26,3.36,3.48,3.87,4.59,5.45,6.49,7.99,9.55,11.15
Don,1.44,1.72,1.98,2.09,2.27,2.59,2.97,3.21,3.38,3.70,3.66,3.60,3.49,3.43,3.16,2.99
Samuel,3.83,3.65,3.60,3.37,3.22,3.13,3.16,3.17,3.05,2.96,2.94,2.72,2.77,2.85,2.87,2.83
Wayne,2.36,2.46,2.48,2.50,2.47,2.64,3.01,3.15,3.49,3.80,3.79,4.14,4.22,4.60,4.99,4.83
Bill,2.07,2.31,2.46,2.61,2.66,2.80,3.01,3.13,3.16,3.33,3.07,2.97,2.85,2.74,2.79,2.76
Bernard,3.70,3.64,3.58,3.56,3.44,3.39,3.28,3.03,2.95,2.96,2.74,2.68,2.44,2.39,2.32,2.08
Dale,2.00,2.09,2.16,2.31,2.40,2.65,2.81,2.92,2.87,3.05,3.06,3.19,3.05,3.25,3.12,3.12
Russell,3.30,3.31,3.05,2.91,2.87,2.74,2.75,2.81,2.64,2.57,2.65,2.66,2.65,2.59,2.50,2.54
Gene,1.37,1.82,2.41,2.71,2.54,2.47,2.59,2.74,2.72,2.69,2.75,2.73,2.90,2.77,2.66,2.58

## Trend over time

In [54]:
country = 'us'
sex = 'f'
min_year = 1930
max_year = None

names = {
    'm': [
        # 'liam', # most popular current name
        # 'noah', # most popular current name
        'asa',
        'brooks',
        'gray',
        'jones',
        'julian',
        'reed',
        # 'bruce',
        # 'charlie',
        # 'elliot',
        # 'ellis',
        # 'emmett',
        # 'finn',
        # 'grady',
        # 'griffin',
        # 'henry',
        # 'lincoln',
        # 'maddox',
        # 'nash',
        # 'oliver',
        # 'oscar',
        # 'owen',
        # 'ronan',
        # 'rowan',
    ],
    'f': [
        # 'emma', # most popular current name
        # 'olivia', # most popular current name
        'cassidy',
        'elsie',
        'josie',
        'june',
        'lily',
        'quinn',
        # 'bailey',
        # 'charlotte',
        # 'collette',
        # 'devi'
        # 'esme',
        # 'grace',
        # 'harper',
        # 'iris',
        # 'lane',
        # 'lou',
        # 'luna',
        # 'maia',
        # 'nelle',
        # 'piper',
        # 'rose',
        # 'ruby',
        # 'ruth',
        # 'sadie',
        # 'stevie',
    ]
}

query = f'''
select
  y.year,
  n.name,
  sum(br.births) as births,
  sum(br.births) / (y.births_{country.lower()}_{sex.lower()}::float / 1000) as births_per_k
from public.birth_record br
inner join public.name n on n.id = br.name_id
inner join public.year y on y.year = br.year_id
where
  br.country = '{country.lower()}' and
  br.sex = '{sex.upper()}' and
  y.year between {int(min_year)} and {int(max_year) if max_year else 2019} and
  n.name in ({', '.join([f"'{n.title()}'" for n in names[sex]])})
group by 1, 2
having sum(br.births) > 50
;'''

df = pd.read_sql_query(query, db)
df = df.round({'births_per_k': 2})
df = df.pivot(index='year', columns='name', values='births_per_k')
df = df.sort_values(by=['year'], ascending=True)
maxes = df.agg(np.max).sort_values(ascending=False).index
df = df.loc[:, maxes]

title = f'Births per 1000, by year ({country.upper()}, {sex.upper()})'
max_series_per_plot = 8
num_cols = len(df.columns)
chunks = np.ceil(num_cols / max_series_per_plot)

if chunks == 1.0:
    fig, ax = plt.subplots()
    ax.get_xaxis().set_visible(False)
    df.plot.line(ax=ax, figsize=(10, 4))
    
elif chunks > 1.0:
    chunk_size = int(np.ceil(num_cols / chunks))
    i = 0
    ax = 0
    fig, axes = plt.subplots(nrows=int(chunks), ncols=1, figsize=(10, 4 * chunks))
 
    while i < num_cols:
        j = (i + chunk_size) if i + chunk_size < num_cols else None
        df.iloc[:, slice(i, j, 1)].plot.line(ax=axes[ax])
        axes[ax].legend(loc='upper left')
        i = i + chunk_size
        ax = ax + 1

fig.suptitle(title)
fig.canvas.toolbar_visible = False
fig.canvas.header_visible = False
fig.canvas.footer_visible = False
        
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## Find peaks

In [7]:
country = 'us'
sex = 'f'
min_year = 1930
max_year = None
dmeta = '.*j|l|m|n.*'

query = f'''
select
  y.year,
  n.name,
  sum(br.births) as births,
  sum(br.births) / (y.births_{country.lower()}_{sex.lower()}::float / 1000) as births_per_k
from public.birth_record br
inner join public.name n on n.id = br.name_id
inner join public.year y on y.year = br.year_id
where
  br.country = '{country.lower()}' and
  br.sex = '{sex.upper()}' and
  y.year between {int(min_year)} and {int(max_year) if max_year else 2019} and
  n.dmeta ~* ('{dmeta}')
group by 1, 2
having sum(br.births) > 50
;'''

df = pd.read_sql_query(query, db)
df = df.round({'births_per_k': 2})
df = df.pivot(index='year', columns='name', values='births_per_k')
df = df.sort_values(by=['year'], ascending=True)
maxes = df.agg(np.max).sort_values(ascending=False).index
df = df.loc[:, maxes]
df = df.iloc[:, slice(0, 100, 1)]
df.head(50)

name,Linda,Mary,Jennifer,Shirley,Lisa,Jessica,Ashley,Susan,Carol,Amanda,...,Charlotte,Alyssa,Amelia,Phyllis,Michele,Wendy,Andrea,Brianna,April,Bonnie
year,,,,,,,,,,,,,,,,,,,,,
1930,0.42,54.99,NaN,12.67,NaN,NaN,NaN,0.86,3.94,0.17,...,2.92,NaN,0.58,6.66,NaN,NaN,0.12,NaN,NaN,2.80
1931,0.48,54.63,NaN,13.05,NaN,NaN,NaN,0.91,4.43,0.19,...,3.08,NaN,0.54,6.53,NaN,NaN,0.08,NaN,NaN,3.22
1932,0.70,54.12,NaN,13.09,NaN,NaN,NaN,1.11,5.94,0.19,...,3.04,NaN,0.58,6.61,NaN,NaN,0.11,NaN,NaN,3.27
1933,0.75,53.07,NaN,13.69,NaN,NaN,NaN,1.21,7.86,0.19,...,2.98,NaN,0.58,6.80,NaN,NaN,0.15,NaN,NaN,3.22
1934,0.92,52.60,NaN,21.10,NaN,NaN,NaN,1.38,9.49,0.17,...,3.17,NaN,0.51,6.63,NaN,NaN,0.12,NaN,NaN,3.47
1935,1.10,50.67,NaN,38.98,NaN,NaN,NaN,1.66,10.79,0.20,...,3.19,NaN,0.56,6.78,NaN,NaN,0.12,NaN,NaN,3.32
1936,2.26,50.46,NaN,32.63,NaN,NaN,NaN,2.00,13.48,0.18,...,3.30,NaN,0.54,6.84,NaN,0.06,0.14,NaN,NaN,3.13
1937,3.98,50.50,NaN,24.34,0.05,0.07,NaN,2.40,15.73,0.16,...,3.21,NaN,0.59,6.57,NaN,0.07,0.16,NaN,NaN,3.26
1938,6.17,49.25,0.04,20.82,0.07,NaN,NaN,3.11,17.02,0.17,...,3.18,NaN,0.50,6.70,0.05,0.11,0.37,NaN,NaN,3.30
1939,9.45,48.41,0.05,18.03,0.07,0.07,NaN,4.31,17.78,0.16,...,3.30,NaN,0.43,6.69,0.05,0.20,0.57,NaN,0.05,3.43
1940,15.55,47.58,0.09,15.13,0.08,0.05,NaN,5.72,18.42,0.18,...,3.63,NaN,0.43,6.28,0.09,0.22,0.60,NaN,0.09,5.04
1941,19.04,46.58,0.11,13.61,0.07,0.07,NaN,7.13,19.41,0.18,...,3.66,NaN,0.42,5.90,0.14,0.28,0.58,NaN,0.14,6.23
1942,22.73,45.49,0.14,12.76,0.09,0.09,NaN,8.64,21.77,0.21,...,3.61,NaN,0.39,5.60,0.52,0.35,0.67,NaN,0.17,6.34
1943,26.78,46.10,0.23,12.41,0.11,0.08,NaN,10.37,22.07,0.20,...,3.82,NaN,0.39,5.30,0.67,0.32,0.99,NaN,0.15,6.18
1944,28.11,45.71,0.50,11.93,0.14,0.09,NaN,11.95,22.29,0.17,...,3.61,NaN,0.35,5.14,0.85,0.33,1.48,NaN,0.12,6.19
1945,30.80,44.04,0.73,12.00,0.19,0.10,NaN,14.28,22.57,0.21,...,3.36,NaN,0.35,4.85,0.70,0.43,1.44,NaN,0.18,5.75
1946,32.68,41.83,1.07,11.08,0.20,0.15,NaN,17.53,21.26,0.17,...,3.08,NaN,0.34,4.99,0.85,0.47,1.43,NaN,0.29,5.90
1947,54.84,39.44,1.11,9.71,0.23,0.24,NaN,17.58,18.45,0.17,...,2.96,NaN,0.30,5.05,1.09,0.54,1.38,NaN,0.28,5.62
1948,55.21,39.36,1.08,9.25,0.27,0.28,NaN,20.65,16.63,0.18,...,2.96,NaN,0.32,4.52,1.03,0.87,1.36,NaN,0.22,5.63
1949,51.85,38.09,1.49,9.84,0.34,0.23,NaN,21.48,15.26,0.19,...,2.93,NaN,0.34,4.17,1.36,1.49,1.22,NaN,0.26,5.54
1950,45.74,37.24,1.59,9.04,0.67,0.23,NaN,21.62,14.88,0.22,...,2.69,NaN,0.27,3.81,1.42,1.72,1.25,NaN,0.22,5.54
1951,40.05,35.58,1.61,7.54,0.92,0.25,NaN,21.78,13.41,0.22,...,2.52,NaN,0.29,3.68,1.51,1.81,1.32,NaN,0.27,5.25
1952,35.27,34.51,1.85,6.59,1.50,0.24,NaN,21.74,12.61,0.22,...,2.21,NaN,0.29,3.23,1.79,1.87,1.46,NaN,0.43,4.94
1953,31.76,33.37,1.75,6.29,1.87,0.26,NaN,22.96,11.55,0.22,...,1.98,NaN,0.29,3.09,1.93,1.87,1.41,NaN,0.43,4.46
1954,27.81,34.16,1.99,5.48,2.97,0.21,NaN,23.68,11.17,0.21,...,1.89,NaN,0.26,2.89,2.39,2.22,1.37,NaN,0.48,4.07
1955,25.58,31.51,2.06,4.86,4.26,0.19,NaN,23.65,10.99,0.23,...,1.66,NaN,0.26,2.84,2.38,2.47,1.38,NaN,0.62,4.31
1956,23.34,29.99,2.29,4.58,5.35,0.20,NaN,22.61,10.39,0.31,...,1.59,NaN,0.26,2.74,2.24,2.36,1.65,NaN,0.59,3.95
1957,21.21,29.12,2.61,4.22,7.21,0.23,NaN,21.90,10.44,0.32,...,1.55,NaN,0.25,2.53,2.26,2.24,1.61,NaN,0.62,3.45
1958,20.29,27.05,2.85,3.92,9.78,0.26,NaN,21.87,9.53,0.38,...,1.46,NaN,0.23,2.46,2.52,2.17,1.57,NaN,0.65,3.38
1959,19.44,26.21,3.00,3.50,12.36,0.25,NaN,20.01,8.72,0.41,...,1.43,NaN,0.24,2.26,2.62,2.75,1.81,NaN,0.75,3.11
1960,17.94,24.75,3.48,3.08,16.20,0.27,0.03,18.85,8.40,0.47,...,1.34,0.05,0.26,2.13,2.70,3.30,2.03,NaN,0.93,3.07
1961,17.13,22.96,4.46,2.71,20.56,0.32,0.04,18.07,8.03,0.51,...,1.41,0.04,0.27,1.85,3.37,3.44,2.08,NaN,0.87,2.90
1962,15.52,21.45,5.42,2.41,22.73,0.43,0.05,17.63,7.16,0.47,...,1.32,0.04,0.24,1.73,3.67,3.44,2.24,NaN,0.90,2.87
1963,13.94,20.90,5.91,2.21,28.19,0.56,0.05,17.10,6.28,0.52,...,1.31,0.06,0.25,1.63,3.78,3.69,2.52,NaN,1.10,2.63
1964,12.07,20.94,6.62,2.03,27.73,0.60,0.09,16.10,6.20,0.65,...,1.24,0.06,0.26,1.48,4.04,4.13,2.75,NaN,1.33,2.39
1965,10.58,18.75,8.32,1.84,32.98,0.84,0.12,14.41,5.53,0.90,...,1.35,0.07,0.26,1.35,4.74,5.74,3.33,NaN,1.54,2.26
1966,8.86,16.45,10.37,1.66,32.42,0.95,0.15,13.54,4.70,1.33,...,1.31,0.08,0.24,1.10,6.09,5.42,4.07,NaN,1.85,2.19
1967,7.69,14.74,10.62,1.46,30.54,1.03,0.22,12.97,4.36,1.55,...,1.18,0.08,0.26,0.81,6.07,6.54,4.32,NaN,2.60,1.96
1968,6.65,12.71,15.71,1.25,28.97,1.08,0.32,11.41,4.14,1.42,...,1.17,0.12,0.23,0.64,6.56,6.26,4.15,NaN,2.12,1.73
1969,5.81,11.26,19.12,1.06,25.55,1.41,0.36,10.10,3.48,1.60,...,1.15,0.22,0.26,0.51,5.99,6.03,4.09,NaN,2.16,1.50
1970,4.77,10.48,25.20,0.89,21.27,2.20,0.51,8.59,2.76,1.94,...,1.09,0.24,0.27,0.42,5.51,6.06,4.21,NaN,2.51,1.50
1971,4.21,9.53,32.40,0.91,18.78,3.06,0.66,7.86,2.20,2.36,...,1.00,0.23,0.27,0.36,4.54,5.74,4.84,NaN,3.39,1.33
1972,3.56,8.53,39.44,0.83,17.08,3.85,0.73,6.56,1.87,2.59,...,0.95,0.21,0.25,0.31,4.57,5.29,4.97,NaN,3.80,1.15
1973,3.04,7.92,40.18,0.74,14.59,4.65,0.81,5.97,1.58,3.62,...,0.86,0.29,0.28,0.26,3.86,5.03,5.00,NaN,4.67,1.09
1974,2.61,7.49,40.30,0.64,12.63,6.80,1.04,5.41,1.30,4.77,...,0.80,0.30,0.32,0.20,3.57,4.83,4.77,NaN,5.40,0.93
1975,2.26,7.03,37.28,0.56,11.62,8.28,1.27,4.80,1.14,8.11,...,0.69,0.36,0.34,0.21,3.23,4.79,5.15,0.05,5.28,0.86
1976,2.00,6.56,37.84,0.53,11.04,11.69,1.46,4.07,0.95,9.92,...,0.61,0.43,0.33,0.15,2.83,4.11,5.31,0.09,4.94,0.77
1977,1.77,6.48,35.84,0.47,10.34,15.10,1.64,3.62,0.82,11.11,...,0.57,0.46,0.37,0.14,2.26,3.50,5.95,0.14,4.90,0.81
1978,1.78,6.11,34.26,0.39,10.36,15.88,2.12,3.30,0.77,12.48,...,0.50,0.49,0.39,0.14,2.12,2.99,6.36,0.18,5.83,0.66
1979,1.59,6.13,32.91,0.39,10.03,16.12,2.58,3.02,0.68,18.53,...,0.50,0.68,0.41,0.12,1.67,2.61,6.00,0.41,6.33,0.94

In [29]:
df2 = df.iloc[:, 4]
peaks = find_peaks(df2, prominence=0.05, distance=15, height=np.percentile(df2[df2.notnull()], 66))
df3 = df2.iloc[peaks[0]]
df3

year
1965    32.98
Name: Lisa, dtype: float64

In [ ]:
def _find_peaks():
    

df.apply(_find_peaks)